# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition


*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown"> Relational Operators</h2>

- Compares the values on either side of the operator and returns and boolean value as True or False.

#### Double equal to operator

In [ ]:
10 == 10

<h4 style = "color:Red">Note</h3>

#####' = ' is an assignment operator; it is used to assign value to a variable on the left.

#####'==' is a relational operator; it is used for comparision of equality.

In [ ]:
10 == 5

#### Not equal to operator

In [ ]:
10 != 5

#### Greater than operator

In [ ]:
10 > 5

#### Less than operator

In [ ]:
10 < 5

#### Greater than equal to operator

In [ ]:
10 <= 5

#### Less than equal to operator

In [ ]:
10 >= 5

<h2 style = "color:Brown">Decision Making

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [ ]:
x = 45

if x < 99:
    print(x, "is less than 99")
else:
    print(x, "is more than 99")

45 is less than 99

In [ ]:
x = 919

if x < 99:
    print(x, "is less than equal to 99")
elif x == 99:
    print(x, "is equal to 99")
else:
    print(x, " is more than 99")

919  is more than 99

## Logical Operators
We use logical operators in situations where we have multiple conditions

####   AND
####   OR
####   NOR
####   XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [1]:
x = int(input("Enter your age : "))

if x <= 18 or x >= 60 :
    print("Welcome to Party!!")
else:
    print("Sorry!! you do not fit in the age criteria")

Enter your age : 22
Sorry!! you do not fit in the age criteria

#### Write a program which offers various discounts based on purchase bills

In [2]:
shoppinng_total = 550

if shoppinng_total >= 500:
    print("You won a discount voucher of flat 1000 on next purchase")
elif shoppinng_total >= 250:
    print("You won a discount voucher of flat 500 on next purchase")
elif shoppinng_total >= 100:
    print("You won a discount voucher of flat 100 on next purchase")    
else:
    print("OOPS!! no discount for you!!!")

You won a discount voucher of flat 1000 on next purchase

#### Example on nested if-else

In [3]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

year = int(input("Enter year to check New Zealand made it to Finals in 20th century : "))

if year in world_cups :
    if "New Zealand" in world_cups[year] :
        print("New Zealand made it to Finals")
    else:
        print("New Zealand could not make it to Finals")
        
else:
    print("World cup wasn't played in", year)

Enter year to check New Zealand made it to Finals in 20th century : 2020
World cup wasn't played in 2020

<h2 style = "color:Brown">Loops and Iterations

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [ ]:
# Let's create a pin checker which we generally have in our phones or ATMs
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Enter your four digit pin: 1234
Welcome

sys.exit is used to stop the code abrubtly with message passed inside

In [ ]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 1111
Invalid input, please try again: 2222
Invalid input, please try again: 3456

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [10]:
# iterate over list of integers

l = [1,3,4,2,5,6]
for i in l : 
    print(i)

1
3
4
2
5
6

In [5]:
# iterate over a string

string = "New York"
for ch in string:
    print(ch)

N
e
w

Y
o
r
k

Default end parameter value in print is "\n" with this it will going to new line with every iteration.
here in below example we have changed End parameter value from \n to : with which it was not taking it to new lines

In [26]:
# iterate over a string - modify print using end

string = "New York"
for ch in string:
    print(ch, end = ":") # default value of end = "\n"

N:e:w: :Y:o:r:k:

Dictionary : Dictionary have a syntax as

Dict_name = {Key1:[Value1,Value2],Key2 : [Value1,Value2]}

when using dictionary following are key keywords:
- Key : to Refer Key 
- Val : to Refer Val
- Dict_name.items() : to refer overall record of dictionary
- Dict_name.Key() : to refer Key value of dictionary.

In [14]:
# iterating over a dictionary

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key, val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [27]:
# iterate over keys of a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [28]:
# Generate range of values.
range(1, 101)

range(1, 101)

In [29]:
l = list(range(1,101))
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [30]:
# Iterate over range of values

for i in range(1, 101):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

Range is to autopopulate number in a given range.

Range Syntax : Range(lowerbound,upperbound,steptobeskipped)

In [20]:
# different variations in range

print(list(range(1, 100, 2) ))# gives numbers from 1 to 100 with a step count of 2
print(list(range(100, 0, -1))) # gives a reversed sequence of numbers from 100 to 1

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
print(list(range(1000,1,-100)))

[1000, 900, 800, 700, 600, 500, 400, 300, 200, 100]

#### Ex. Write a program to print prime numbers between 1 to 20

In [32]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

<h2 style = "color:Brown">Comprehensions

[11, 5, 4, 6, 14]

#### The Functional Approach

List Comprehesion Syntax :
List comprehensions are used for creating new lists from other iterables like tuples, strings, arrays, lists, etc. A list comprehension consists of brackets containing the expression, which is executed for each element along with the for loop to iterate over each element. 

newList = [ expression(element) for element in oldList if condition ] 

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [40]:
# Example1 : Normal For Loop

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

In [42]:
# Example1 : List Comprehension
a2 = [len(i) for i in l1]
print(a2)

[11, 5, 4, 6, 14]

In [44]:
# Example2 : Normal For Loop

Output = []

for ch in 'Vanraj Dinesh Bohra':
    Output.append(ch)

print(Output)

['V', 'a', 'n', 'r', 'a', 'j', ' ', 'D', 'i', 'n', 'e', 's', 'h', ' ', 'B', 'o', 'h', 'r', 'a']

In [46]:
# Example2 : List Comprehension

LC_Output = [ch for ch in 'Vanraj Dinesh Bohra']
print(LC_Output)

['V', 'a', 'n', 'r', 'a', 'j', ' ', 'D', 'i', 'n', 'e', 's', 'h', ' ', 'B', 'o', 'h', 'r', 'a']

In [50]:
# Example 3 : Display square of even numbers from 1 to 10.

Output = [n**2 for n in range(1,11) if n%2==0]
print(Output)

[4, 16, 36, 64, 100]

In [53]:
# Example 4: Reverse each string in a tuple.
Name = ['Vanraj','Dinesh','Bohra']

Reverse = [string[::-1] for string in Name]

print(Reverse)

['jarnaV', 'hseniD', 'arhoB']

### Zip Function : Python zip() method takes iterable or containers and returns a single iterator object, having mapped values from all

Syntax :  zip(*iterators) 

Parameters : Python iterables or containers ( list, string etc ) 
Return Value : Returns a single iterator object, having mapped values from all the 
containers.

In [55]:
#Example 1 : iterating over l1 and l2 simultaneously

for i,j in zip(l1,l2):
    print(i, " - ", j)

automobiles  -  11
Honda  -  5
Benz  -  4
Suzuki  -  6
Morris Garages  -  14

In [70]:
#Example 2: Python zip two lists
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

for rollno, name in zip(roll_no, name):
    print(rollno,':',name)

4 : Manjeet
1 : Nikhil
3 : Shambhavi
2 : Astha

#### Dictionary comprehension

In [62]:
# Example on dictionary comprehension

l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

# Create a dictionary consisting of element and length of each element from the above list

d = {i : len(i) for i in l1}

print(d)

{'automobiles': 11, 'Honda': 5, 'Benz': 4, 'Suzuki': 6, 'Morris Garages': 14}

#### Set Comprehensions

#### Ex . Write a program which takes a word as input from user and returns vowels from the word

In [63]:
word = input("Enter a word : ")
vowels = {i for i in word if i in "aeiou"}
vowels

Enter a word : Vanraj Bohra

{'a', 'o'}

<h2 style = "color:Brown">Functions</h2>

#### Ex. Write a function which takes a value as a parameter and returns its factorial

In [ ]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

#### Function Arguments

In [65]:
def func(name, age = 35):  # default parameter
    print("name : ", name)
    print("age : ", age)

In [66]:
func("Jane", 25)

name :  Jane
age :  25

In [67]:
func("Jane")

name :  Jane
age :  35

In [68]:
def func(name, age = 35, city = "New York"):
    print("name : ", name)
    print("age : ", age)
    print("city : ", city)
    
func("Jane", city = "Seattle") # key-word argument

name :  Jane
age :  35
city :  Seattle

In [69]:
def var_func(*args):
    print(args)
    
var_func(1,3,"abc") # variable-length argument

(1, 3, 'abc')

## Lambda Function
In Python, anonymous function means that a function is without a name. As we already know that def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions. It has the following syntax:

Syntax:

Function_name = Lambda output : condition

In [72]:
# Write a lambda function to check a number is even or odd

f = lambda x: "even" if x % 2 == 0 else "odd"

f(10)

'even'

In [75]:
# Factorial 
fact = lambda x: 1 if x == 0 else x * fact(x-1)

fact(5)

120

<h2 style = "color:Brown">map - filter - reduce

### Python map() function

map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :
map(fun, iter)

#### Some more examples on map - filter - reduce

In [76]:
L1 = [2,4,5]
print(map(lambda x: x**2, L1))
print(list(map(lambda x: x**2, L1)))

<map object at 0x000001DCBF0FCD08>
[4, 16, 25]

#### Defining a function and using it in map

In [77]:
L1 = [2,4,5]
def squareit(n):
    return n**2

print(list(map(squareit, L1)))

[4, 16, 25]

#### Filter function to return the multiples of 3

In [78]:
my_list = [3,4,5,6,7,8,9]

divby3 = lambda x:  x % 3 == 0

div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

#### Ex. Write a python program to count the students above age 18

In [79]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

#### Reduce to return product of elements

In [80]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6

# Map Function
Description
Using the function Map, count the number of words that start with ‘S’ in input_list.



Sample Input:

['Santa Cruz','Santa fe','Mumbai','Delhi']



Sample Output:

2

Execution Time Limit
15 seconds

In [91]:
import ast,sys
input_list = ['Santa Cruz','Santa fe','Mumbai','Delhi']


count = sum(map(lambda x: x[0] =='S',input_list))


print(count)

2

# Map Function
Description
Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Note: Add a space between first name and last name.

In [105]:
inputlist = [['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]
firstname = inputlist[0]
lastname = inputlist[1]

outputlist = list(map(lambda x,y : x+' '+y, firstname,lastname ))


print(outputlist)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

# Filter Function
Description
Extract a list of numbers that are multiples of 5 from a list of integers named input_list.



Sample Input:

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]



Sample Output:

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]



Note: Use the filter() function.

Execution Time Limit

In [112]:
inputlist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

divby5 = lambda x : x % 5 == 0

outputlist = list(filter(divby5, inputlist))

print(outputlist)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

# Filter Function
Description
You are given a list of strings such as input_list = ['hdjk', 'salsap', 'sherpa'].

Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

Sample Input:

['soap','sharp','shy','silent','ship','summer','sheep']


Sample Output:

['soap', 'sharp', 'ship', 'sheep']

Note: Use the filter() function.

Execution Time Limit
15 seconds

In [114]:
inputlist = ['soap','sharp','shy','silent','ship','summer','sheep']

sp = lambda x : x[0] == 's' and x[-1] == 'p'

outputlist = list(filter(sp,inputlist))

print(outputlist)

['soap', 'sharp', 'ship', 'sheep']

# Reduce Function
Description
Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.

If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.



Sample Input:

['All','you','have','to','fear','is','fear','itself']



Sample Output:

﻿All you have to fear is fear itself

Execution Time Limit

In [116]:
inputlist = ['All','you','have','to','fear','is','fear','itself']

print(reduce(lambda x,y : x+' '+y, inputlist))

All you have to fear is fear itself

## Reduce Function
Description
You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.



Sample Input:

[65,76,87,23,12,90,99]



Sample Output:

﻿99

In [118]:
input_list = [65,76,87,23,12,90,99]

reduce(lambda x,y:x if x > y else y, input_list)

99